.wrapper {
  aspect-ratio: 286/183;
  position: relative;
  padding: 40px 0;
  background-color: #f2f2f2;
  display: flex;
  font-family: 'Arimo', sans-serif;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 0 4px;
}
.icon {
  width: 108px;
  object-fit: cover;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media (max-width: 1280px) {
  .title {
    font-weight: 700;
    font-size: calc(16px + (20 - 16) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: calc(20px + (28 - 20) * ((100vw - 600px) / (1024 - 600)));
  }
  .icon {
    width: calc(108px + (142 - 108) * ((100vw - 600px) / (1024 - 600)));
  }
  .content {
    gap: max(18px, calc(18px + (48 - 18) * ((100vw - 600px) / (1024 - 600))));
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: max(
      13px,
      calc(13px + (20 - 13) * ((100vw - 400px) / (600 - 400)))
    );
  }
  .icon {
    width: max(68px, calc(68px + (108 - 68) * ((100vw - 400px) / (600 - 400))));
  }
  .wrapper {
    padding: max(30px, calc(30px + (40 - 30) * ((100vw - 400px) / (600 - 400))))
      0;
  }
  .cards {
    gap: calc(20px + (32 - 20) * ((100vw - 400px) / (600 - 400)));
  }
}
